body {
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  display: block;
  margin-bottom: 16px;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

a {
  color: #00d6b4;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.top {
  min-height: 700px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .57) 17%, #222);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .57) 17%, #222);
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  opacity: 1;
}

.top.small {
  min-height: 410px;
}

.top.sub-page {
  height: 62vh;
}

.top.about-page {
  min-height: 340px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .57), #222), url('../images/photo-1441716844725-09cedc13a4e7.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url('../images/photo-1441716844725-09cedc13a4e7.jpg');
  background-size: auto, cover;
}

.top.contact-page {
  display: block;
  min-height: 450px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .57) 63%, #222), url('../images/Picture1.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .57) 63%, #222), url('../images/Picture1.png');
  background-position: 0px 0px, 38% -91%;
  background-size: auto, cover;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.top.project-page {
  min-height: 384px;
  opacity: 1;
  text-align: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #fff;
  text-align: center;
}

.hero-content.small {
  left: 0px;
  top: auto;
  right: 0px;
  bottom: 0%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.nav {
  padding-top: 28px;
  background-color: transparent;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link.w--current {
  color: #00d6b4;
}

.logo {
  padding: 15px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.subtitle {
  margin-bottom: 35px;
  color: hsla(0, 0%, 100%, .49);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.button {
  margin-top: 55px;
  padding: 12px 25px;
  border: 1px solid #00d6b4;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #00d6b4;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.button:hover {
  border-color: #fff;
  color: #fff;
}

.button.submit {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 45px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-wrapper {
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.tab-menu {
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
}

.tab-link {
  background-color: transparent;
  color: #999;
}

.tab-link:hover {
  color: #fff;
}

.tab-link.w--current {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.photo {
  display: block;
  height: 300px;
  margin: 15px 5px;
  border-radius: 5px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: static;
  margin-top: 29px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #222;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.footer-link {
  color: #999;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.section-title {
  margin-top: 1px;
  margin-bottom: 32px;
  padding-top: 90px;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.main-image {
  margin-bottom: 50px;
}

.form {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.left-column {
  padding-right: 40px;
  color: #fff;
}

.main-heading {
  margin-bottom: 27px;
  color: #fff;
  font-size: 48px;
  line-height: 53px;
  font-weight: 300;
  text-align: center;
}

.main-heading.inline {
  display: inline;
}

.main-heading.inline.bolder {
  font-weight: 300;
}

.heading-wrapper {
  max-height: 100%;
  margin-top: 170px;
  padding-right: 0%;
  padding-left: 0%;
  text-align: center;
}

.footer-logo {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #c2c2c2;
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
}

.profile-pic {
  display: block;
  width: 90px;
  margin-right: auto;
  margin-bottom: 31px;
  margin-left: auto;
  border-radius: 100%;
}

.about-me {
  display: block;
  width: 61%;
  margin: 41px auto;
}

.field {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.input {
  min-height: 50px;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
  border-radius: 3px;
  background-color: #4b4b4b;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
}

.input:focus {
  box-shadow: inset 0 0 0 2px #00d6b4;
}

.input.text-area {
  min-height: 141px;
}

.secondary-title:hover {
  text-decoration: none;
}

.empty-state {
  padding: 33px 33px 49px;
  border: 1px solid hsla(0, 0%, 100%, .34);
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
}

.no-items-title {
  font-weight: 300;
}

.project-image {
  margin-bottom: 22px;
  border-radius: 3px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.project-image:hover {
  opacity: 0.69;
}

.super-heading {
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .36);
  text-transform: uppercase;
}

.testimonial {
  margin-bottom: 44px;
  font-weight: 100;
  text-align: center;
}

.company {
  text-align: center;
}

.testimonial-wrapper {
  margin-bottom: 43px;
  text-align: center;
}

.project-body-copy {
  margin-right: 12%;
  margin-bottom: 67px;
  margin-left: 12%;
}

.success {
  border-radius: 3px;
  background-color: #00ad92;
}

.success-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.main-detail-image {
  overflow: auto;
  max-height: 700px;
  max-width: 700px;
  margin-bottom: 41px;
  border-radius: 3px;
}

.category-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  letter-spacing: 1px;
  text-decoration: none;
}

.category-link:hover {
  opacity: 0.67;
  text-decoration: none;
}

.div-block {
  position: relative;
  right: 0px;
  display: block;
  max-height: 1000px;
  max-width: 1000px;
  min-height: 500px;
  min-width: 400px;
  margin-top: 19px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: -40px;
  padding-left: 0px;
  border: 5px solid #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.paragraph {
  margin-top: 65px;
  margin-bottom: 98px;
}

.block-quote {
  margin-bottom: 93px;
  -webkit-transition: left 100ms ease;
  transition: left 100ms ease;
}

.image {
  display: block;
  margin-right: auto;
  margin-bottom: 77px;
  margin-left: auto;
  text-align: center;
}

.heading {
  text-align: center;
}

.image-2 {
  margin-bottom: 94px;
}

.image-3 {
  margin-bottom: 71px;
}

.image-4 {
  position: relative;
  top: 0px;
  display: inline-block;
  overflow: auto;
  padding-top: 1px;
  float: none;
  text-align: left;
}

.image-5 {
  position: static;
  top: -122px;
}

.image-6 {
  position: relative;
  top: 0px;
  bottom: -119px;
}

.link {
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  float: none;
}

.div-block-2 {
  border-width: 15px;
  -webkit-transition-property: none;
  transition-property: none;
}

.image-7 {
  display: block;
}

.div-block-3 {
  margin-top: 34px;
  margin-bottom: 20px;
  padding-top: 1px;
}

.image-8 {
  position: relative;
}

.link-block {
  position: static;
}

.container {
  margin-top: 41px;
  margin-bottom: 99px;
}

.image-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.image-10 {
  display: block;
  margin-top: 37px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-2 {
  margin-top: 66px;
  margin-bottom: 66px;
}

.paragraph-3 {
  margin-top: 62px;
  margin-bottom: 65px;
}

@media (max-width: 991px) {
  .top {
    min-height: 520px;
  }
  .top.about-page {
    min-height: 310px;
  }
  .top.contact-page {
    min-height: 400px;
  }
  .top.project-page {
    min-height: 344px;
  }
  .nav {
    margin-top: 0px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button:hover {
    color: #00d6b4;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .heading-wrapper {
    margin-top: 115px;
  }
  .nav-menu {
    background-color: #000;
  }
  .project-body-copy {
    margin-right: 12%;
    margin-left: 12%;
  }
}

@media (max-width: 767px) {
  .top {
    min-height: 420px;
  }
  .top.small {
    min-height: 280px;
  }
  .top.about-page {
    min-height: 230px;
  }
  .top.contact-page {
    min-height: 290px;
  }
  .top.project-page {
    min-height: 256px;
  }
  .nav {
    padding-top: 0px;
  }
  .form {
    width: 80%;
  }
  .left-column {
    padding-right: 10px;
  }
  .main-heading {
    font-size: 38px;
    line-height: 43px;
  }
  .heading-wrapper {
    margin-top: 72px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .about-me {
    width: 81%;
    margin-top: 0px;
  }
  .project-body-copy {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 479px) {
  .top {
    min-height: 340px;
  }
  .top.about-page {
    min-height: 193px;
  }
  .top.project-page {
    min-height: 226px;
  }
  .form {
    width: 90%;
  }
  .heading-wrapper {
    margin-top: 50px;
  }
  .about-me {
    width: 91%;
  }
  .project-body-copy {
    margin-right: 18px;
    margin-left: 18px;
  }
}